<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    
      <form th:action="@{/register}" th:object="${student}" method="post">
              Student Id: <input type="text" placeholder="Enter Id Number" required name="id"/><h6></h6><br> 
              Student Name: <input type="text" placeholder="Enter Full Name" required name="name" /><h6></h6> </br>
              Student Address: <input type="text"placeholder="Enter Full Address" required  name="address" /><h6></h6> </br>
              <input type="submit" value="Register"    />
              <input type="reset" value="Reset" />
              
             </form>
</body>
</html>